*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px
}

.container{
    width:90%;
    max-width:300px;
}

.logo img{
    width:100%;
    max-width:100px;
    height:auto;
    margin-bottom:20px;
    background-color:#222f3d;
}

.signin-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.signin-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signin-box label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.signin-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e2b33b;
}

.divider {
    margin: 20px 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    line-height: 0.1em;
}

.divider span {
    background: #fff;
    padding: 0 10px;
}

.create-account-button {
    width: 100%;
    padding: 10px;
    background-color: #e7e9ec;
    border: 1px solid #adb1b8;
    border-radius: 3px;
    cursor: pointer;
}

.create-account-button:hover {
    background-color: #d6d9dc;
}
